@charset "utf-8";

// My variables

$primary: hsl(217, 71%, 53%); //rgb(36, 9, 9);
$bg: rgb(236, 236, 236);// hsl(0, 100%, 2%);

$text-color: #2c3e50;

$text: $text-color;

$title-color: $primary;
$subtitle-color: rgba($primary, 0.7);

$shadow-color: rgba($primary, 0.2);

// Overriding of Bulma variables.

$body-background-color: $bg;

$link: $primary;

$progress-value-background-color: $primary;

$box-background-color: $bg;

$footer-background-color: $primary;
$footer-color: rgb(255,255,255);
$footer-padding: 5px;

$card-background-color: $bg;
$card-footer-border-top: 1px solid $primary;
$card-shadow: 0 2px 3px $shadow-color, 0 0 0 1px $shadow-color;

$modal-card-head-background-color: $bg;
$modal-card-head-border-bottom: 1px solid $primary; 
$modal-card-body-background-color: $bg;
$modal-card-foot-border-top: 1px solid $primary;

$success: green;
$danger: red;
