mixin contact(data)

    section(
      class='section',
      id=data.nav.anchor
    )

      +sectionTitle(data['title'], data['subtitle'])

      div(class='container subsection is-size-6')
        div(class='columns is-centered')
          div(class='column is-8')
            div(class='columns is-vcentered')
              div(class='column is-6')
                figure(class='image is-16by9')
                  img(src='images/location.jpg')
              div(class='column is-6')
                each item in data['items']
                  div
                  +icon(item['icon'])
                  span &nbsp;
                  if (item['type'])
                    span #{item['type']} &nbsp;
                  span !{item['value']}