mixin home(data)

  section(class='hero is-primary is-fullheight is-fullheight-with-navbar')
    div(class='hero-body')
      div(class='container')
        p #{data.text['hero.pre.title']}
        h1(class='title is-1')
          p #{data.text['hero.title']}
        h2(class='subtitle is-3')
          p #{data.text['hero.subtitle']}
    