
//- input
//- {
//-   data: data.json
//-   projects : projects.json
//- }

//- Utility functions
include utils

include header

include nav
include home
include about
include services
include projects
include contact
include footer
           
//- -----------------------------
//- -----------------------------
//- The HTML page itself
//- -----------------------------
//- -----------------------------

doctype html
html(lang='en')

  +header(data['title'], data['desc'])

  body(class='is-unselectable')
  
    - let sections = data['sections'];
    - let navs = Object.keys(sections).map(k => sections[k].nav).filter(elt => undefined !== elt);

    +navigation(navs)

    +home(sections['home'])
    +about(sections['about'])
    +services(sections['services'])
    +projects(sections['projects'], projects)
    +contact(sections['contact'])
    
    +footer(data['footer'])

    script(src='./scripts/scripts.min.js')

    