mixin services(data)

    section(
      class='section',
      id=data.nav.anchor
    )

      +sectionTitle(data['title'], data['subtitle'])

      div(class='container subsection')
        - let i = 0;
        - let nbCol = 2;
        - let services = data.parts.slice();
        while 0 < services.length
          - let row = services.splice(0,nbCol)
          div(class='columns')
            each service in row 
              div(class='column is-6')
                div(class='box')
                  h4(class='has-text-weight-bold is-size-6') 
                    +icon(service['icon'],'icon','has-text-primary')
                    span  #{service['title']}
                  //- p #{service['desc']}