
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $family-primary;
}

.home {
  background: url(assets/cpc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

li {
  padding-top: 0;
  margin-bottom: 0.20em;
}

.dots {
  border-bottom: .15rem solid $primary;
}

.title {
  text-transform: uppercase;
}

.subtitle {
  text-transform: uppercase;
}

.section {
  padding-top: 1.5em;
  padding-bottom: 0em;
}

