// My variables

$light: #ffffff;
$dark: #1b1b19; // #463534 ; //(188, 151, 199);
$primary: rgb(31, 127, 165); // lighten($primary, 65%);

$body-background-color: $light;
$text: $dark;

$link: $primary;
$link-hover: $primary;

$title-color: $primary; //darken($primary, 5%);
$subtitle-color: $primary; // rgba($title-color, .8);

$body-size: 1rem;
$title-size: 1.5rem;
$subtitle-size: 1.25rem;

$padding: 0.1rem;

$section-padding: $padding;
$section-padding-large: $padding;
$section-padding-desktop: $padding;
$section-padding-medium: $padding;
$section-padding-large: $padding;

$footer-background-color: $primary;
$footer-color: $light;
$footer-padding: 10px 0px;
