// My variables

$light: #ffffff;
$dark: #1b1b19; // #463534 ; //(188, 151, 199);
$primary: rgb(160, 15, 39); // lighten($primary, 65%);

$body-background-color: $light;
$text: $dark;

$link: $primary;
$link-hover: $primary;

$title-color: $primary; //darken($primary, 5%);
$subtitle-color: $primary; // rgba($title-color, .8);

$bold: 700;

$body-size: 1rem;
$title-size: 1.5rem;
$title-weight: $bold;
$subtitle-size: 1rem; 
$subtitle-weight: $bold;

$padding: 0.1rem;

$hero-body-padding-medium: 5rem 2rem 8rem;

$navbar-height: 2rem;

$section-padding: $padding;
$section-padding-large: $padding;
$section-padding-desktop: $padding;
$section-padding-medium: $padding;
$section-padding-large: $padding;

$footer-background-color: $body-background-color;
$footer-color: $primary;
$footer-padding: 10px 0px;

$radius-large: 0px;

$modal-card-head-background-color: $primary;
$modal-card-title-color: $light;
